@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../img/hudson-bay-116476_1920.jpg)no-repeat center center;
    background-size: cover;
}

ul {
    list-style: none;
}

.tool {
    position: relative;
    float: left;
    width: 450px;
    margin: 5vh 10vw;
    box-shadow: 10px 10px 15px -10px #333333;
}

.left_wrap {
    background: url(../img/winter-landscape-2571788_1920.jpg)no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.left_wrap:before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #162977, #c7a8ff);
    opacity: 0.5;
}

.main_container {
    padding: 20px;
}

.check_icon_box {
    position: relative;
    width: 100%;
    height: 300px;
}

.check_icon {
    position: absolute;
    height: 40px;
    border-radius: 5%;
    box-shadow: 0px 0px 5px 0px #bfb8b8;
}

.left_bar {
    top: 50%;
    left: 25%;
    width: 100px;
    transform: rotate(45deg);
    background-image: linear-gradient(to left, #b4b4b4, #f2f2f2 70%, #fff 90%);
}

.right_bar {
    top: 40%;
    left: 33.5%;
    width: 200px;
    transform: rotate(-45deg);
    background: #fff;
}

.input_box {
    position: relative;
    margin-top: 20%;
}

.input_box i {
    position: absolute;
    padding-top: 20px;
    left: 10px;
    font-size: 25px;
    color: #fff;
}

input {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding: 20px 0 20px 50px;
    border: 0;
    border-bottom: 1px solid rgba(173, 173, 173, 0.66);
    background: none;
    color: #e6e6e6;
    font-size: 1.1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sign_box {
    position: relative;
    width: 100%;
    margin-top: 15%;
    line-height: 60px;
    text-align: center;
    background: #fd4089;
    border-radius: 30px;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
}

.footer {
    position: relative;
    margin-top: 5%;
    line-height: 50px;
    text-align: center;
    color: #c7c7c7;
}

.footer span {
    color: #fff;
    cursor: pointer;
}

.right_wrap {
    height: 730px;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../img/james-donaldson-365418.jpg) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    text-align: center;
}

.header {
    height: 10%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 2em;
    padding: 20px;
    overflow: hidden;
}

.left_nav_icon {
    float: left;
}

.right_nav_icon {
    float: right;
}

.content_wrap {
    height: 100%;
}

.section1 {
    height: 40%;
}

.section1 h1 {
    font-weight: normal;
}

.portrait {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 30px auto;
    background: url(../img/john-matychuk-333799.jpg)no-repeat center 70%;
    -webkit-background-size: cover;
    background-size: cover;
    border-radius: 50%;
}
.portrait:before {
    position: absolute;
    display: block;
    content: "3";
    right: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #549bed;
    border-radius: 50%
}
.arrow_box {
    color: #e3e3e3;
}

.arrow_box div {
    display: inline-block;
}
.arrow_box .text {
    margin: 0 35%;
}
.arrow_box .arrow {
    font-size: 2em;
}

.section2 {
    position: relative;
    width: 100%;
    height: 50%;
    background: #fff;
    color: #000;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.calendar {
    border-bottom: 1px solid #dbdbdb;
}


.calendar ul {
    font-size: 0;
}

.calendar ul  li{
    display: inline-block;
    width: 14.2%;
    font-size: 16px;
}
.day_number {
    margin-top: 20px;
    margin-bottom: 20px;
}

.day_number li {
    position: relative;
    line-height: 60px;
}
.day_number li:nth-child(2) {
    background: rgba(188, 188, 188, 0.71);
    border-radius: 50px;
}

.red_circle:after {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, 0);
    display: block;
    content: "";
    width: 5px;
    height: 5px;
    background: #ff0000;
    border-radius: 50px;

}
.profile {
    width: 100%;
    background: #fff;
}

.profile ul li {
    width: 100%;
    overflow: hidden;
    padding: 10px;
}

.profile ul li div {
    float: left;
}
.photo {
    width: 50px;
    height: 50px;
    background: #000;
    border-radius: 50%;
}
.comment {
    margin-left: 15px;
    text-align: left;
}

.comment h1 {
    font-size: 1.1em;
    font-weight: normal;
}
.comment h1 span {
    font-weight: bold;
}

.comment>span {
    color: #969696;
}

.more {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #FC3768;
    color: #fff;
}
.more {
    line-height: 55px;
    font-size: 4em;
}
